<footer>
  <mat-card>
    <section>
        <div class="center-block">
          <ul class="list-inline">
            <li><a href="https://www.cancer.gov/" title="Home" target="_blank">Home</a></li>
            <li>|</li>
            <li><a href="mailto:NCIRecurrenceRiskToolWebAdmin@mail.nih.gov?subject=RecurrenceRiskTool" target="_top" title="Support">Support</a></li>
            <li>|</li>
            <li><a href="https://www.cancer.gov/global/web/policies" title="Policies" target="_blank">Policies</a></li>
            <li>|</li>
            <li><a href="https://www.cancer.gov/global/web/policies/accessibility" title="Accessibility" target="_blank">Accessibility</a></li>
            <li>|</li>
            <li><a href="https://cancer.gov/global/viewing-files" title="Viewing Files" target="_blank">Viewing Files</a></li>
            <li>|</li>
            <li><a href="https://www.cancer.gov/global/web/policies/foia" title="FOIA" target="_blank">FOIA</a></li>
          </ul>
          <ul class="list-inline">
            <li><a href="https://www.hhs.gov/" target="_blank">U.S. Department of Health and Human Services</a></li>
            <li>|</li>
            <li><a href="https://www.nih.gov" target="_blank">National Institutes of Health</a></li>
            <li>|</li>
            <li><a href="https://www.cancer.gov/" target="_blank">National Cancer Institute</a></li>
            <li>|</li>
            <li><a href="https://usa.gov" target="_blank">USA.gov</a></li>
          </ul>
          <div class="text-center">
            NIH ... Turning Discovery Into Health<sup>®</sup>
          </div>
        </div>
    </section>
  </mat-card>
</footer>
