#logo {
  padding: 10px;
  width: 60%;
}
.skip a,.skip a:hover,.skip a:visited{position:absolute;left:-999px}.skip a:active,.skip a:focus{display:block;left:0;z-index:999;background:#fff;border:1px solid #000;padding:5px 5px 5px 5px}

.stage {
  font-weight:bold;
  font-size:large;
  margin-bottom: 10px;
  font-family:Helvetica;
}
.upload-pane{
  width: 250px;
  height:auto;
}

.parameters-pane{
  width: 250px;
  min-height:400px;
  height:auto;
  padding:5px;
}
.output-pane{
  vertical-align:top;
  width:auto;
  min-width:300px;
  min-height:400px;
  height:auto;
}

.table_title {
  padding:0px;
  margin:0px;
}

#banners {
    margin-top:15px;
    height:110px;
}

.form-horizontal .control-label {
  padding-top:0px;
}

.form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
}
.form-group {
    margin-bottom: 0px;
}
.jpsurv-label-container {
   margin-bottom: 5px;
   clear:both;
 }
.jpsurv-label {
    font-weight: 700;
    margin-bottom: 5px;
    max-width: 100%;
}
.jpsurv-label-content {
    margin-left:5px;
    max-width:90%;
    overflow:hidden;
    clear:both;
}
.jpsurv-button {
    margin-top: 5px;
    margin-right: 10px;
}

fieldset.jpsurv-fieldset {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border:1px solid #DAE4E8;
    margin-bottom:10px;
    display:none;
}

legend.jpsurv-legend {
  /*
  padding: 0.2em 0.5em;
  color:green;
  font-size:90%;
  */
    padding: 0.2em 0.5em;
    font-size:90%;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 6px;
    border:1px solid #DAE4E8;
    margin-bottom:0px;
    margin-left:10px;
    width:auto;
}

.co-value-container {
  padding:5px 0px;
}

.plot-instructions {
  margin-top:200px;
}

hr.stage-separator{
  margin-top:10px;
}

.plot-container {
  padding:200px 25px;
  margin-left:40px;
}

.tab-content {
    background: none repeat scroll 0 0 white;
    border-color: #d9d9d9;
    border-radius: 0 0 4px 4px;
    border-style: solid;
    border-width: 0 1px 1px;
    min-height: 600px;
    overflow: hidden;
    padding: 10px;
    width: 100%;
}

.tg  {border-collapse:collapse;border-spacing:0;border: 1px solid #bbbbbb;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border: 1px solid #bbbbbb;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border: 1px solid #bbbbbb;}
.tg .tg-e3zv{font-weight:bold;background-color:#aaaaaa;color:#444444}

.box {
    background: linear-gradient(to bottom, #feffff 0%, #feffff 50%, #e7f3fa 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(1, 90, 129, 0.4);
    color: #666;
    margin-bottom: 18px;
    padding: 18px;
}

input[type="file"] {
    max-width: 90%;
}

.collapse-expand{
  background-repeat: no-repeat;
  float:right;
  margin-right:66.67%;
}
.hide{
 background:#000000;
 z-index:9999999999999999999;
 height:100%;
 width:100%;
}

.fa{
    color: #337ab7;
    cursor: pointer;
}

.slide {
  transform: translate(-400px, 0px);
  transition: .400s ease-in;
}

#slideout #slideoutTab {
  position: relative;
  transform: rotate(180deg);
  transform-origin: 0% 0%;
  float:right;
  display: block;
  transition: .300s ease-in;

}
#slideout #slideoutTab a {
  position: fixed;
  height: auto;
  font-weight: bold;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  transition-duration: 0.1s;
}

.advanced{
  color:#3273ab;
  text-decoration: underline;
  font-weight: bold;
  float:right;
  padding-left:5px;
  padding-top:15px;
  padding-bottom:15px;
  cursor: pointer;
  margin-right:10px;
}
.left_advanced{
  width:80%;
}
.right_advanced{
  width:20%;
  display:inline;
  padding-left:2%;
  float:right;
}
.right_advanced > input {
  width:45px;
}
.options_wrapper{
  padding-bottom:15%;
}

.advanced:hover{
  -webkit-transform: translate(1px, 1px);
  -moz-transform: translate(1px, 1px);
  -ms-transform: translate(1px, 1px);
  -o-transform: translate(1px, 1px);
  transform: translate(1px, 1px);
  text-shadow: 1px 1px #ddd;
 cursor: pointer;

}


#plot-form {
  margin: 10px;
  padding-top: 10px;
}

#cohort-join-points {
  border: 1px solid #DDDDDD;
  padding: 10px 10px 0px;
}

#header-cohort-name, #header-cohort-value {
  margin-left: 7px;
  color: #777777 ;
  background-color: #F2F2F2;
}

#help-tab {
  height:600px;
  overflow-y: scroll;
}
.cursor-pointer {
    cursor: pointer;
}
.glyphicon-blue {
    color: #337ab7;
}
#adv-options > div > label {
  max-width: 70%;
  margin-left:10px;
}
.sm-input {
    max-width: 15%;
    font-size: 12px  !important;
    height: 20px  !important;
    line-height: 1.42857  !important;
    padding: 2px 2px  !important;
    margin-right:10px;
}
.form-inline {
  padding-bottom: 10px;
}

.model-number {
  white-space:nowrap;
}
#cohort-variables > div > div > fieldset {
  border: 1px;
  padding: 0px;
  margin: 0px;
  line-height: 1;
}
#cohort-variables > div > div > fieldset > legend {
  font-size: 1em;
  font-weight:bold;
  margin-bottom: 0px;
  color: #666;
}
.form-horizontal .checkbox {
  min-height:22px;
  padding-top: 0px;
  height: 18px;
  min-height: 18px;
}
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
    margin-left: -20px;
    margin-right:10px;
    position: static;
}

.checkbox label {
    padding-left:25px;
    padding-right:5px;
}

#cohort-variables > div {
  padding-bottom:10px;
}

.model-select-row {
  padding-left:15px;
}
#e-mail {
  width:250px;

}
#help {
  background-color:#FFF;
  height:519px;
  overflow:auto;
}

/* Tooltip */
div.tooltip-inner {
    background-color: #505050;
    color: #FFFFFF;
    font-size: 14px;
    padding: 15px;
    width:500px;
    text-align:left;
}

.jpsurv-title {
  float: left;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left:10px;
}

@media (min-width: 768px) {
    .form-inline .radio input[type="radio"],
    .form-inline .checkbox input[type="checkbox"] {
        float: left;
        margin-right: 5px;
    }
}
#ribbon h1 a {
    color: #fff;
    font-size: 26px;
    text-decoration: none;
    display: inline-block;
    padding: 9px 0;
    line-height: 1;
    margin-right: 140px;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    transition: .3s all linear;
    text-shadow: none;
}

#ribbon h1 {
    font-family: "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;
    padding: 0;
    margin: 0;
    letter-spacing: .015em;
    font-weight: normal;
    background: url("https://surveillance.cancer.gov/images/dccps_logo.png") right -5px no-repeat;
}
#ribbon {
    color: #fff;
    background: #010080;
    padding: 0 24px;
}
.modal-lg {
    width: 60%;
}

input[type="radio"] {
    margin-left:10px;
}

#data_table_wrapper th {
    font-weight: normal;
}

#data_table_wrapper th:nth-child(1) {
    border-left: 1px solid #ddd;
}

#data_table_wrapper th:last-child {
    border-right: 1px solid #ddd;
}

#data_table td:nth-child(1)  {
    border-left: 1px solid #ddd;

}

#data_table td:last-child {
    border-right: 1px solid #ddd;
}
#modalContent thead th,
#modalContent thead td{
    max-width: 100px !important;
    min-width: 100px !important;
    text-align: center !important;
    line-height: 0 !important;



}
#modalContent td {
   line-height: 0;
   text-align: center !important;
}
#column_values{
  max-width:100%;
  width:100%;
  margin-left: 0px
}

#Adv_input.btn[disabled]{
    color:black;
}


.cursor{
  cursor: pointer
}
.help_container{
  text-align:left;
  padding-left:0;
  font-size: 18px
}

/** Bootstrap button overrides that are WCAG AA compliant  ***/
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #165a9e;
  border-color: #104376;
}
.btn-primary:active, .btn-primary.active, .open .btn-primary.dropdown-toggle {
  background-image: none;
}

.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active,
.btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus,
.btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.btn-warning {
  color: #fff;
  background-color: #b24d04;
  border-color: #994203;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .btn-warning.dropdown-toggle {
  color: #fff;
  background-color: #8a3c03;
  border-color: #5d2802;
}

.btn-warning:active, .btn-warning.active, .open .btn-warning.dropdown-toggle {
  background-image: none;
}

.btn-warning.disabled, .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled:active,
.btn-warning.disabled.active, .btn-warning[disabled], .btn-warning[disabled]:hover, .btn-warning[disabled]:focus,
.btn-warning[disabled]:active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning,
fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:active,
fieldset[disabled] .btn-warning.active {
  background-color: #b24d04;
  border-color: #994203;
}

/*
 * Import Export
 */


.importContainer_extensionNote {
    font-weight: bold;
    text-align: left;
    display: inline-block;
    margin-bottom: 4%;
}

#fileSelect.importContainer_fileSelect {
    width: 100%;
}

.button_group_separator {
    margin-right:10px;
}


/*****************/
/* ToolTips      */
/*****************/

.tooltip-arrow {
    display: none
}

.tooltip {
  font-size: 10px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  border: 1px solid lightgrey;
  opacity: 1;

}

#input_type_select div.tooltip div.tooltip-inner {
    font-size: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: auto;
    color: #666666;
    background-color: #FFFFFF;
    opacity: 1;
}

/**********************************************/
/* Input Type Selection                       */
/**********************************************/

#input_type_select label {
    padding-left:18px;
    padding-right:0
}

#input_type_select div {
    padding-left:0;
    padding-right:0
}

#input_type_select > div:nth-child(2)  {
    padding-left:0;
    white-space:nowrap;
}

#dic {
    white-space: nowrap;
    margin-left:0;
    margin-top:0;
}

#csv {
    margin-left:0;
    margin-top:0
}

#importRadioButton {
    margin-left: 0;
    margin-top: 0;
}

@media (max-width: 767px) {

    #input_type_select > div:nth-child(2) {
        white-space:normal;
    }
}

/** Remove styles after migrating to bootstrap 4 */
.d-flex {
  display: flex;
}

.align-items-start {
  align-items: start;
}

.mx-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-5 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}





