
.table-container {
  overflow-x: auto;
  padding: 5px;
}

.mat-table {
  margin-right: 5px;
  display: inline-table;
  width: 99%;
  th, td {
    padding: 10px;
  }
}

.card-form {
  height: 100%;
}

.card-result {
  height: 100%;
}
