<header>
  <mat-toolbar color="primary" class="mat-elevation-z10">
    <mat-toolbar-row fxLayout="column" fxLayoutAlign="start stretch">
      <h2>Recurrence Risk</h2>
      <mat-divider></mat-divider>
    </mat-toolbar-row>
    <mat-toolbar-row fxLayoutAlign="start" fxLayout="row" fxLayout.xs="column" fxFlexFill>
      <mat-button-toggle-group fxLayout="row" fxLayout.xs="column" name="Navigation" aria-label="Navigation">
        <mat-button-toggle value="group" routerLink="/group" routerLinkActive="mat-button-toggle-checked">Group Data</mat-button-toggle>
        <mat-button-toggle value="individual" routerLink="/individual" routerLinkActive="mat-button-toggle-checked">Individual Data</mat-button-toggle>
      </mat-button-toggle-group>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
