@import 'styles-variables';

@import '~@angular/material/theming';
@include mat-core();

@import 'rrt-theme.scss';

$foreground: map-get($rrt-theme, foreground);
$background: map-get($rrt-theme, background);

%page-full {
  min-height: 100vh;
  height: 100%;
}

html, body {
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
}

.page-container {
  @extend %page-full;
}

.content {
  @extend %page-full;
}

.rtt-app-theme {
  @include angular-material-theme($rrt-theme);
}

.mat-toolbar {
  z-index: 10;
}

.rtt-app-theme .card-form {
  height: 100%;
}

.rtt-app-theme .mat-card.card-result {
  width: 100%;
  height: 100%;
  background-color: white;
}

.rtt-app-theme .mat-card {
  margin: 20px;
  background-color : mat-color($background, app-bar);
}


.form-label {
    font-size: 14px;
    font-weight: 700;
}

.browse-button {
  margin-right: 0.5vw;
}

.mat-slider-thumb-label {
    transform: rotate(45deg) !important;
    border-radius: 50% 50% 0 !important;
}

.mat-slider-thumb {
    transform: scale(0) !important;
}

.mat-slider-thumb-label-text {
    opacity: 1 !important;
}
