@import '~@angular/material/theming';
@include mat-core();

@import 'rrt-theme.scss';

$primary: map-get($rrt-theme, primary);
$accent: map-get($rrt-theme, accent);
$warn: map-get($rrt-theme, warn);

%page-full {
  min-height: 100vh;
  height: 100%;
}
