@import 'styles-variables';

html, body {
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
}

.page-container {
  @extend %page-full;
  max-width: 1440px;
  margin: 0 auto !important;
  float: none !important;
}

.app-container {
  @extend %page-full;
  padding: 0.5em;
}

.rtt-app-theme {
  @include angular-material-theme($rrt-theme);
}

.mat-toolbar {
  z-index: 10;
}


.rtt-app-theme footer .mat-card {
  background-color: mat-color($primary);
}

.rtt-app-theme .mat-card {
  margin: 20px;
}

.form-label {
    padding-bottom: 0.5vh;
}

.browse-button {
  margin-right: 0.5vw;
}

.rtt-app-theme .mat-button-toggle-group {
  margin: 10px;
}

.rtt-app-theme .mat-button-toggle {
  background-color: mat-color($primary);
  color: mat-color($primary, default-contrast);
}

.rtt-app-theme .mat-button-toggle-checked {
  background-color: mat-color($accent);
  color: mat-color($accent, default-contrast);
}

.mat-slider-thumb-label {
    transform: rotate(45deg) !important;
    border-radius: 50% 50% 0 !important;
}

.mat-slider-thumb {
    transform: scale(0) !important;
}

.mat-slider-thumb-label-text {
    opacity: 1 !important;
}
